* {
    margin: 0;
    font-family: Georgia, Serif;
}

a {
    text-decoration: none;
    color: #FFB56A;
}

a:hover{
    color: #FF8409;
}

main{
    background-color: #FFB56A;

}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

button{
    border: 1px outset black;
}

div span {
    margin-bottom: 3%;
}

footer {
    background-color: #0D1B2A;
    color: #FFB56A;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1%;
}


h1{
    padding-top: 2%;
    padding-bottom: 2%;
}

header {
    background-color: #0D1B2A;
    color : #FFB56A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    text-align: justify;
}

span{
    padding-left: 4%;
}
strong{
    padding-left: 4%;
}


.biblioverse-container{
    display: flex;
}

.black_background{
    background-color: black;
    color: #FFB56A;

}

.book-container {
    display: flex;
}

.book-container img{
    padding-left: 4%;
    padding-bottom: 3%;
    width: 145px;
    height: 208px;
}

.book-container > div {
    display: flex;
    flex-direction: column;
}

.center{
    display: flex;
    text-align: justify;
    align-items: center;
    font-size: x-large;
    padding: 3%;
}

.container {
    display: grid;
    grid-template-columns: 1fr  1fr;

}

.end-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.end-header span{
    padding: 0;
}

.information_book{
    width: 300px;
}

.information_book span{
    padding-bottom: 3%;
}

.information_book strong{
    padding-bottom: 3%;
}


.orange_background{
    background-color: #FFB56A;
    color: black ;
    width: 100vw;
}

.seach-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacing{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.solo_book_container{
    display: grid;
    /*grid-template-rows: 1fr 1fr 1fr;*/

}
.slick-slide {
  height: 300px;
}
.bers {
  font-family: "Baskerville", serif;
}


